.parksList {
  margin: auto auto auto auto !important;
  border-radius: 10pt;
}

.parkDesc {
  align-self: flex-start !important;
}
.searchResult {
  margin: auto auto auto auto;
}
.searchBox {
  margin: auto auto auto auto !important;
  flex-direction: column;
}
.searchBar {
  margin: auto auto auto auto !important;
}
.listItem {
  border: 1.5px solid #1c3c23 !important;
  border-radius: 3pt;
  margin-bottom: 10pt;
}
.addLoc:checked {
  color: #1c3c23;
}

.img {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
