@import url("https://fonts.googleapis.com/css2?family=Economica&display=swap");

.App {
  height: 100vh;
  width: 100vw;
}

.map-container {
  margin: auto auto auto auto;
  height: 70%;
  width: 70%;
}

.background {
  background-color: #1c3c23;
  width: 100% !important;
}
.searchResult {
  background-color: white;
}
.info {
  width: 90% !important;
  height: 60% !important;
  margin: auto auto auto auto !important;
}

.titles {
  color: #6b460c !important;
  font-size: 2.7rem !important;
  font-family: "Economica", sans-serif !important;
  margin: auto auto auto auto;
  text-align: center;
}
